<!DOCTYPE html>

<html>
<head>
    <title>About Page</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>


<body>
    <div class="main-content">
        {{>header}}
        <p>This page was CREATED by {{name}}. It uses mapbox and openweather APIs to get your weather</p>
    </div>

    {{>footer}}
</body>



</html>